name: CI

on:
    pull_request:
    push:
        branches:
            - master

jobs:
    workflow:
        name: Workflow
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: cachix/install-nix-action@v13

            - uses: cachix/cachix-action@v10
              with:
                  name: purescript-monarch
                  authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
            - name: Cache NPM dependencies
              uses: actions/cache@v2
              with:
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: ${{ runner.os }}-node-
                  path: ~/.npm
            - name: Cache PureScript dependencies
              uses: actions/cache@v2
              with:
                  key: ${{ runner.os }}-spago-${{ hashFiles('**/*.dhall') }}
                  path: |
                      .spago
                      output

            - name: Install NPM dependencies
              run: nix-shell --pure --run "npm ci"

            - name: Install & build PureScript dependencies
              run: nix-shell --pure --run "spago build --deps-only"

            - name: Build TypeScript
              run: nix-shell --pure --run "tsc -p tsconfig.json"

            - name: Build PureScript
              run: nix-shell --pure --run "spago build"
